@media only screen and (max-width: 800px) {
    body {
        font-size: 0.5em;
    }
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.hidden {
    display: none;
}

.app-content {
    width: 80%;
    height: 100%;
    float: right;
    background: #F6F6F6;

}

.sidebar {
    display: inline-block;
    height: 100%;
    width: 20%;
    color: white;
}

.block-list-container {
    display: inline-block;
    float: right;
    width: 100%;
    height: 100%;

}

.block-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-content: baseline;

    padding: 0;

}

.block-list-item {
    position: relative;
    width: 250px;
    height: fit-content;
    min-height: 290px;
    padding: 25px 0;
    margin: 20px;
    background: white;
    color: #333435;
    text-align: center;

    flex-basis: 20%;
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.block-list-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.block-list-item__title {
    font-size: 1.8em;
    font-weight: 500;
}

.block-list-item__subtitle {
    font-size: 2em;
    font-weight: 700;
}

.block-list-item__description {
    margin-top: 20px;
}

.block-list-item__img {
    min-height: 100px;
    max-width: 35%;
    margin-bottom: 15px;
}

.h-100 {
    height: 100%;
    padding: 0;
    margin: 0;
}

.vertical-menu {
    list-style: none;
    text-align: center;
    padding: 0;
}

.vertical-menu__item {
    font-size: 2em;
    cursor: pointer;
}

.vertical-menu__item:hover {
    text-decoration: underline;
}

.select-item-list__item {
    margin: 10px 0px;
}

.select-item-list__item:hover {
    background: whitesmoke;
    color: black;
    fill: black;
}

.select-item-list__item img {
    width: 10px;
}

.select-item-list__item * {
    display: inline-block;
}

.details-container {
    text-align: center;
}

.details__title {
    font-size: 2em;
    font-weight: 600;
}

.details__subtitle {
    font-size: 1.2em;
}

.round-orders {
    display: flex;
    margin-top: 30px;
}

.order {
    min-width: 250px;

    margin: 5px 10px;
    background: white;
    border-radius: 5px;
}

.order__title {
    color: white;
    background: black;
    padding: 20px;
    border-radius: 5px;

}

.order__item-container {
    padding: 20px;
}

.drink {
    text-align: left;
}

.drink__count {
    color: red;
    display: inline-block;
    border: 4px solid #EB5757;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    padding: 0px;
    text-align: center;
}

.drink__name {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    margin-left: 25px;
}

.main-button {
    display: inline-block;
    cursor: pointer;
    color: white;
    background: black;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2em;
}

.add-button {
    position: fixed;
    bottom: 50px;
    right: 225px;

}

.close-round-button {
    position: fixed;
    bottom: 50px;
    right: 40px;

}

.hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.order__item-add {
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
}

.img-add {
    width: 30px;
}

.bttn-submit {
    width: 50%;
    cursor: pointer;
    color: white;
    background: black;
    padding: 5px 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2em;
    margin: auto;

}

label {
    display: block;
}

#drink-name {
    display: block;
    margin: auto;
}

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    display: block;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.block-list-item:hover .edit {
    display: initial;
}