/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,700&display=swap');

/* Media queries */
@media (max-width: 600px) {
  .section__content {
    width: 100%;
    min-width: 0;
  }

}


:root {
  --header-height: 80px;
  --app-logo-margin: 7px;
  --padding-header: 19px;
  --footer-height: 1.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background: #1A1A1A;
  font-family: Montserrat, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  width: 100%;
  height: var(--header-height);
  background: #000;
}

header img {
  height: 100%;
}

header > div {
  padding: var(--padding-header);
  height: calc(100% - var(--padding-header) * 2);
  display: inline-flex;
}

.menu {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  color: white;
  /*margin-top: var(--app-logo-margin);*/
  /*margin-bottom: var(--app-logo-margin);*/
  /*height: calc(100% - var(--app-logo-margin) * 2);*/
}

.menu__item {
  margin: auto;
  cursor: pointer;
  font-weight: 700;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

.header__right {
  margin-right: 20px;
  height: 100%;
  float: right;
}

.scrollable {
  overflow-y: auto;
}

.logo {
  margin-top: var(--app-logo-margin);
  margin-bottom: var(--app-logo-margin);
  height: calc(100% - var(--app-logo-margin) * 2);
  margin-left: 20px;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;

}

.main-content {
  margin: auto;
  width: 100%;
  height: calc(100% - var(--header-height) - var(--footer-height));
  overflow-y: auto;
  scroll-behavior: smooth;
}

.main-content--no-footer{
  height: calc(100% - var(--header-height));
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  color: white;
  z-index: -1;
}

.section--light {
  background: white;
  color: black;
}

.section__content {
  width: 50%;
  min-width: 600px;
  margin: auto;
  z-index: 1;
}

.section__title {
  font-size: 2em;
  margin-bottom: 30px;
}

.separator {
  width: 100%;
  height: 2px;
  background: black;
  margin: 10px 0;
}

.separator--light {
  background: white;
}


.title-section__main {
  margin-bottom: 40px;
}

.title {
  margin: 0px;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}

.center {
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

footer {
  color: white;
  height: var(--footer-height);
  text-align: center;
  font-size: 0.8em;
}

