{% extends "app/base_app.html" %}
{% block app_content %}
    <div class="block-list-container scrollable">
        <div class="block-list">
            {% for round in rounds %}
                <div class="block-list-item" data-href="{{url_for('round_id', id=round.id)}}">

                        {#                    <img alt="user-profile-image" class="block-list-item__img" src="{{ url_for('static', filename='img/user-noimg-icon.svg') }}">#}
                        <div class="block-list-item__title">
                            <strong><u>Master:</u></strong> {{ round.initiator.first_name | capitalize }} {{ round.initiator.last_name | capitalize }}
                        </div>
                        <div class="block-list-item__subtitle">ID: #{{ round.id }}</div>
                </div>
            {% endfor %}
            <div class="block-list-item list-add">
                <div>
                    <img class="block-list-item__img" style="width: 30px;"
                         src="{{ url_for('static', filename='img/add.svg') }}">
                    <div class="block-list-item__title">Create round</div>
                </div>

                <div class="select-user-list scrollable hidden">
                    {% for person in people %}
                        <div class="select-user-list__item to-add" data-path="/app/rounds"
                             data-add-id="{{ person.uid }}">
                            <img src="{{ url_for('static', filename='img/user-noimg-icon.svg') }}">
                            <div>{{ person.first_name | capitalize }} {{ person.last_name | capitalize }}</div>
                        </div>
                    {% endfor %}
                    <div class="block-list-item__title">Select initiator</div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}